<?xml version="1.0"?>

<launch>

    <arg name="ARG0"  default="/" />
    <arg name="ARG1"  default="$(find cnc_marker)/src/Characters/ $(find cnc_marker)" />
    <arg name="ARG2"  default="-p /dev/ttyUSB0 -f $(find cnc_marker)/OutputFile.ngc" />

    <node pkg="cnc_marker" type="manager.py"      name="manager" />
    <node pkg="cnc_marker" type="GcodeGenerator"  name="GcodeGenerator" output="screen" args="$(arg ARG1)$(arg ARG0)" />
    <!--node pkg="cnc_marker" type="gCodeSender.py"  name="gCodeSender"  launch-prefix="sudo -E PYTHONPATH=$(env PYTHONPATH)" output="screen"  args= "$(arg ARG2)"/-->
    <!--node pkg="cnc_marker" type="gCodeSender.py"  name="gCodeSender" output="screen"  args= "$(arg ARG2)"/-->
    <node pkg="cnc_marker" type="KeyboarInput.py" name="KeyboarInput" launch-prefix="sudo -E PYTHONPATH=$(env PYTHONPATH)" />

</launch>
